.heroScreen1,
.heroScreen2,
.heroScreen3,
.heroScreen4 {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: contain;
    /* transform: rotate(-21deg); */
    transition: all 0.3s;
    animation: ripple 2s infinite;
}


.heroScreen1 {
    top: -3%;
    left: -3%;
}

.heroScreen2 {
    top: -5%;
    left: -5%;
    animation-delay: 0.2s;
}

.heroScreen3 {
    top: -10%;
    left: -10%;
    animation-delay: 0.3s;
}

.heroScreen4 {
    top: -15%;
    left: -15%;
    animation-delay: 0.4s;
}

@keyframes ripple {
    0% {
        transform: translateY(0px);
    }

    10% {
        transform: translateY(-10px);

    }

    29% {
        transform: translateY(0px);

    }

    100% {
        transform: translateY(0px);
    }
}

.sideBar {
    position: fixed;
    left: 0;
    top: 0;
    padding: 15px;
    height: fit-content;
    border-end-end-radius: 30px;
    z-index: 2;
}


.sidebarOption {
    font-size: 30px;
    font-family: "ClashGrotesk";
    font-weight: 500;
    opacity: 0.4;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    align-items: center;
    gap: 10px;
    animation: h1SlideIn;
    transition: all 0.3s;
}

.sidebarOption svg {
    overflow: hidden;
    width: 0px;
    transition: all 0.3s;
}

.sidebarOption:hover {
    padding-left: 10px;
    opacity: 1;
}

.sidebarOption:hover svg {
    width: 20px;
}




.sidebar svg:nth-child(1) {
    animation: h1SlideIn 0.3s;
}

.sideBar h1:nth-child(2) {
    animation-duration: 0.3s;
}

.sideBar h1:nth-child(3) {
    animation-duration: 0.5s;
}

.sideBar h1:nth-child(4) {
    animation-duration: 0.7s;
}

.sideBar h1:nth-child(5) {
    animation-duration: 0.9s;
}

@keyframes h1SlideIn {
    0% {
        transform: translateX(-100%);
        /* opacity: 1; */
    }

    100% {
        transform: translateX(0%);
        /* opacity: 0.4; */
    }
}

@media(max-width:500px) {
    .sidebarOption {
        transition: all 0.3s;
        opacity: 1;
    }

    .sidebarOption:hover {
        padding-left: 0px;
    }

    .sidebarOption:hover svg {
        width: 0px;
    }

    .sideBar:hover .sidebarOption {
        transform: translateX(0px);
    }
}